# Ignorar entornos virtuales
.venv/
venv/
*.venv/
*venv/

# Ignorar archivos compilados
__pycache__/
*__pycache__/
*.pyc

# Ignorar archivos de entorno
.env
*.env

# Ignorar archivos de configuración local
*.sqlite3
*.db

# Ignorar archivos de log
*.log

# Ignorar archivos de pruebas y datos temporales
*.test
*.tmp
*.bak

# Ignorar archivos de sistema
.DS_Store
Thumbs.db