services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  mongo:
    image: mongo:latest
    container_name: mongo_db
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  users_back:
    build: ./users_back
    container_name: users_back
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${USERS_DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      TOKEN_URL: ${TOKEN_URL}
    ports:
      - "${USERS_PORT}:8000"

  games_control_back:
    build: ./games_control_back
    container_name: games_control_back
    depends_on:
      - postgres
      - mongo
    environment:
      DATABASE_URL: ${GAMES_DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      MONGO_URL: ${MONGO_URL}
      MONGO_DB_NAME: ${MONGO_DB_NAME}
      MONGO_COLLECTION_NAME: ${MONGO_COLLECTION_NAME}
      TOKEN_URL: ${TOKEN_URL}
    ports:
      - "${GAMES_CONTROL_PORT}:8001"

  games_logic_back:
    build: ./games_logic_back
    container_name: games_logic_back
    depends_on:
      - postgres
      - mongo
    environment:
      MONGO_URL: ${MONGO_URL}
      MONGO_DB_NAME: ${MONGO_DB_NAME}
      MONGO_COLLECTION_NAME: ${MONGO_COLLECTION_NAME}
    ports:
      - "${GAMES_LOGIC_PORT}:8002"